Options FollowSymLinks
RewriteEngine On
RewriteBase /pledin/
RewriteCond %{QUERY_STRING} id=572
RewriteRule ^mod/resource/view.php$ files/temario.pdf
RewriteCond %{QUERY_STRING} id=574
RewriteRule ^mod/resource/view.php$ files/Intro_virt.pdf
RewriteCond %{QUERY_STRING} id=575
RewriteRule ^mod/resource/view.php$ files/xen_es_tldp.tgz
RewriteCond %{QUERY_STRING} id=576
RewriteRule ^mod/resource/view.php$ files/curso_xen.pdf
RewriteCond %{QUERY_STRING} id=577
RewriteRule ^mod/resource/view.php$ files/vmware_inst.pdf
RewriteCond %{QUERY_STRING} id=578
RewriteRule ^mod/resource/view.php$ files/redes_xen_vmware.pdf
RewriteCond %{QUERY_STRING} id=580
RewriteRule ^mod/resource/view.php$ files/user-xen.pdf
RewriteCond %{QUERY_STRING} id=581
RewriteRule ^mod/url/view.php$ http://wiki.xensource.com
RewriteCond %{QUERY_STRING} id=582
RewriteRule ^mod/url/view.php$ http://www.vmware.com/support/pubs/server_pubs.html
RewriteCond %{QUERY_STRING} id=609
RewriteRule ^mod/assign/view.php$ doc/Instalar_Xen_en_modo_puente.md
RewriteCond %{QUERY_STRING} id=610
RewriteRule ^mod/assign/view.php$ doc/Instalar_VMware_Server_con_la_configuracion_de_red_por_defecto.md
RewriteCond %{QUERY_STRING} id=611
RewriteRule ^mod/assign/view.php$ doc/Modificar_GRUB_para_incluir_otro_nucleo_para_Xen.md
RewriteCond %{QUERY_STRING} id=612
RewriteRule ^mod/assign/view.php$ doc/Crear_una_red_virtual_con_Xen_segmentada_en_dos_subredes.md
RewriteCond %{QUERY_STRING} id=613
RewriteRule ^mod/assign/view.php$ doc/Crear_una_red_virtual_con_VMware_Server_segmentada_en_dos_subredes.md
RewriteCond %{QUERY_STRING} id=589
RewriteRule ^mod/resource/view.php$ files/UOC_cortafuegos.pdf
RewriteCond %{QUERY_STRING} id=590
RewriteRule ^mod/resource/view.php$ files/IPtables_pello.pdf
RewriteCond %{QUERY_STRING} id=614
RewriteRule ^mod/assign/view.php$ doc/Implementar_un_cortafuegos.md
RewriteCond %{QUERY_STRING} id=592
RewriteRule ^mod/resource/view.php$ files/pres_apache.pdf
RewriteCond %{QUERY_STRING} id=593
RewriteRule ^mod/resource/view.php$ files/apache.pdf
RewriteCond %{QUERY_STRING} id=615
RewriteRule ^mod/assign/view.php$ doc/Configurar_dos_subdominios.md
RewriteCond %{QUERY_STRING} id=616
RewriteRule ^mod/assign/view.php$ doc/Configuracion_de_awstats_para_virtual_hosting.md
RewriteCond %{QUERY_STRING} id=596
RewriteRule ^mod/resource/view.php$ files/pres_proftpd.pdf
RewriteCond %{QUERY_STRING} id=597
RewriteRule ^mod/resource/view.php$ files/proftp2.pdf
RewriteCond %{QUERY_STRING} id=617
RewriteRule ^mod/assign/view.php$ doc/Crear_un_ftp_anonimo.md
RewriteCond %{QUERY_STRING} id=599
RewriteRule ^mod/url/view.php$ http://www.squid-cache.org/Doc/FAQ/FAQ.html
RewriteCond %{QUERY_STRING} id=600
RewriteRule ^mod/resource/view.php$ files/squid.pdf
RewriteCond %{QUERY_STRING} id=618
RewriteRule ^mod/assign/view.php$ doc/Implementar_squid_como_proxy_transparente_para_la_red_local.md
RewriteCond %{QUERY_STRING} id=602
RewriteRule ^mod/resource/view.php$ files/dns.pdf
RewriteCond %{QUERY_STRING} id=603
RewriteRule ^mod/resource/view.php$ files/pres_web_dinamicas.pdf
RewriteCond %{QUERY_STRING} id=604
RewriteRule ^mod/resource/view.php$ files/web_dinamica2.pdf
RewriteCond %{QUERY_STRING} id=619
RewriteRule ^mod/assign/view.php$ doc/Instalar_xoops.md
RewriteCond %{QUERY_STRING} id=606
RewriteRule ^mod/resource/view.php$ files/correo-e.pdf
RewriteCond %{QUERY_STRING} id=607
RewriteRule ^mod/resource/view.php$ files/unixsec-2.1.pdf
RewriteCond %{QUERY_STRING} id=608
RewriteRule ^mod/url/view.php$ http://www.uoc.edu/posgrado/matricula_abierta/web/materiales_libres.html
